body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column; /* Change this to make items stack vertically */
    justify-content: center;
    align-items: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.robux {
    font-size: 20px;
    color: green;
    margin: 15px 0;
}

.btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; /* Space between button and disclaimer */
}

.btn:hover {
    background-color: #005f73;
}

.disclaimer {
    font-size: 10px;
    color: gray;
    margin-top: 10px;
}
